%h1 Alsace Digitale - Gestion des membres


- if user_signed_in?
  %h2= "Connecté en tant que #{current_user}"
  %p
    = link_to "Mon profil", "#"
  = link_to "Se déconnecter", destroy_user_session_path, method: "DELETE"
- else
  %p
    = link_to "Se connecter à son espace membre", user_session_path
    %br
    = link_to "Adhérer à l'association", new_user_registration_path

